<footer class="footer" id="footer">
  <div class="footer__zombi">
    <div class="footer__zombi--01">
      <img src="./img/img_chara01.png" alt="ゾンビメイン" width="500" height="1175">
    </div>
    <div class="footer__zombi--02">
      <img src="./img/img_chara02.png" alt="ゾンビ2" width="500" height="780">
    </div>
    <div class="footer__zombi--03">
      <img src="./img/img_chara03.png" alt="ゾンビ3" width="500" height="1751">
    </div>
    <div class="footer__zombi--04">
      <img src="./img/img_chara04b.png" alt="ゾンビ4" width="500" height="1175">
    </div>
    <div class="footer__zombi--05">
      <img src="./img/img_chara05b.png" alt="ゾンビ5" width="500" height="1178">
    </div>
    <div class="footer__zombi--06">
      <img src="./img/img_chara06b.png" alt="ゾンビ6" width="500" height="1166">
    </div>
  </div>
  <div class="footer__tape item" id="footerTape"></div>
  <p class="footer__copy"><small>©︎JKゾンビ</small></p>
</footer>

